/* ###################################################### */
/* This is Style Sheet for Role Selection and Admin Pages */
/* ###################################################### */
* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

/* HTML Elements */
body {
	background-color: #BEDCFA;
	text-align: center;
	height: 100%;
}

a {
	text-decoration: none;
	font-family: 'Righteous', cursive;
	color: #FFFFFF;
	padding-left: 20px;
	padding-right: 20px;
}

label {
	color: #FFFFFF;
	font-family: 'Righteous', cursive;
}

/* ##################################################### */
/*                 Div positioning						 */
/* ##################################################### */
.container-my {
	background-color: #BEDCFA;
	height: 100vh;
	margin: 0px;
	padding: 0;
	vertical-align: middle;
	width: 100%;
}

.nav-div-my{
	height: 10vh;
	background-color: #98ACF8;
}

.center-div-admin {
	background-color: #BEDCFA;
	height: 80vh;
}

.centering {
	text-align: center;
	position: relative;
	padding: 0;
	margin: auto;
	top: 50%;
	background-color: #98ACF8;
	width: 40%;
	transform: translateY(-50%);
	border-radius: 50px;
}



.center-div-complaint-admin{
	background-color: #BEDCFA;
	height: 80vh;
	
}

.centering-complaint-list{
	text-align: center;
	position: relative;
	padding: 0;
	margin: auto;
	background-color: #98ACF8;
	width: 80%;
	border-radius: 50px;
	margin-top: 10px;
	
}

.div-sorting-complaints-admin{
	display: flex;
	flex-direction: row;
	margin-bottom: 15px;
}

.sort-btn{
	flex:1;
}
.label-sort{
	flex:1;
	
}
.div-complaints-notification-admin{
	height: 50vh;
	overflow: scroll;
}

.div-complaint-notification{
	margin: auto;
	margin-bottom: 10px;
	background-color: #DA9FF9;
	width: 80%;
	
}

.id-heading{
	margin-left: 30px;
}

.each-complaint-heading{
	text-align: left;
}


.complaint-description-admin{
	width: 85%;
	background-color: #B088F9;
	margin: auto;
	text-align: left;
	height: 50px;
	overflow: hidden;
}

.complaint-description-admin label{
	margin-left: 30px;
}

.complaint-description-admin p{
	margin-left: 30px;
	margin-right: 30px;
	margin-bottom: 10px;
	color: #FFFFFF;
}

.complaint-view-admin-each-submit{
	text-align: right;
}

.complaint-view-admin-each-submit input{
	margin-right: 20px;
	margin-bottom: 10px;
}

.role-div {
	margin-top: 2;
	margin-right: auto;
	margin-bottom: 10;
	margin-left: auto;
	padding: 10px;
	border-top: 5;
	width: 45%;
	background-color: #B088F9;
	border-radius: 20px;
}

.heading-admin{
	
	padding-top: 5px;
}


.footer-my{
	height: 10vh;
}

/* Header Elements */

.navbar-my{
	background-color: #98ACF8; 
}

/* Body Elements */

/* ###################################################### */
/*                 Heading Elements */
/* ###################################################### */
.heading-admin-h1 {
	font-size: 5vh;
	color: #FFFFFF;
	font-family: 'Righteous', cursive;
}

/* Form Elements */
.form-input-div-admin {
	margin-top: 2;
	margin-right: auto;
	margin-bottom: 10;
	margin-left: auto;
	padding: 10px;
	border-top: 5;
	width: 60%;
	background-color: #B088F9;
	border-radius: 20px;
}

.label-form-admin {
	padding-right: 10px;
}


.input-admin-login{
	width: 90%;
}
/* ###################################################### */
/*                   Button Elements */
/* ###################################################### */
.button {
	background-color: #DA9FF9;
	border: none;
	color: white;
	width: 30%;
	padding: 15px 32px;
	text-align: center;
	text-decoration: none;
	display: inline-block;
	font-size: 3vh;
	font-weight: bold;
	margin: 4px 5px;
	cursor: pointer;
	border-radius: 20px;
}

/* ###################################################### */
/*                Footer Elements */
/* ###################################################### */

.footer-my{
	bottom: 0;
}








