/* ###################################################### */
/* This is Style Sheet for Role Selection and Admin Pages */
/* ###################################################### */
* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

/* HTML Elements */
body {
	background-color: #DDB6C6;
	color: #FFFFFF;
}

h1 {
	
}
/* Div Positioning */
.container-my {
	background-color: #DDB6C6;
	color: #FFFFFF;
	height: 100vh;
	margin: 0px;
	padding: 0;
	vertical-align: middle;
	width: 100%;
}

.nav-div-my{
	height: 10vh;
}



.center-div-analyst {
	background-color: #F1D4D4;
	height: 80vh;
}

.center-div {
	background-color: #BEDCFA;
	height: 80vh;
}

.centering {
	position: relative;
	padding: 0;
	margin: auto;
	top: 50%;
	background-color: #DDB6C6;
	width: 40%;
	transform: translateY(-50%);
	border-radius: 20px;
}


/* Header Elements */
.heading-analyst{
	text-align: center;
}

.body-heading-analyst{
	font-size: 3vw;
	
}

/* Body Elements */

/* Heading Elements */

/* Form Elements */
.form-div{
	display: flex;
	text-align: right;
}
.form-div-my{
	width: 100%;
	
}

.form-div-inputs{
	width: 100%;
	background-color: #AC8DAF;
	margin: auto;
	margin-top: 3px;
	margin-bottom: 1px;
	width: 80%;
	border-radius: 10px;
}

.form-div-inputs label{
	width: 40%;
}
.form-div-inputs input{
	position:relative;
	left:0;
	width: 55%;
	border: 0;
	border-right: 5px;
	margin-top : 3px;
	margin-right: 3%;
	border-radius: 8px;
	text-align: center;
}

.form-div-inputs select{
	position:relative;
	left:0;
	width: 55%;
	border: 0;
	border-right: 5px;
	margin-right: 3%;
	border-radius: 8px;
	text-align: center;
}

.form-buttons-div{
	text-align: center;
}
/* Button Elements */

.button-my{
	margin: 1% 12% 2%;
	width: 100px;
	height: 40px;
	border-radius: 15px;
	border-width: 0;
}





/* Footer Elements */
.footer-my{
	height: 10vh;
	background-color: #DDB6C6;
}