
/* ###################################################### */
/* This is Style Sheet for Role Selection and Admin Pages */
/* ###################################################### */

* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

/* HTML Elements */

body{
	background-color: #BEDCFA;
	
}

h1{
	
}

/* Header Elements */










/* Body Elements */












/* Heading Elements */











/* Form Elements */













/* Button Elements */












/* Footer Elements */







